@import './globals.css';
@import './typography.css';
@import './utilities.css';
@import './radial-diagram.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-shine{
    background: linear-gradient(
        90deg,
        rgb(139, 139, 139) 0%,
        rgb(249, 249, 248) 50%,
        rgb(139, 139, 139) 100%
    );

    background-size:300% 100%;
    background-position:-300% 0;

    -webkit-background-clip:text;
    background-clip:text;
    color:transparent;
    -webkit-text-fill-color:transparent;

    animation:shine 10s linear infinite;
}

@keyframes shine{
    from{background-position:-300% 0;}
    to{background-position:300% 0;}
}